body {
  background: white;
  margin: 3%;
  font-size: 18pt;
  font-family: "Goudy Bookletter 1911", serif;
  font-style: italic;
  color: black;
}

.container {
  border: 5px solid rgb(160, 255, 165);
  margin: auto;
  max-width: 900px;
  min-width: 75%;
}

h1 {
  font-size: 140px;
  font-family: "Goudy Bookletter 1911", serif;
  font-style: italic;
  color: black;
}

.btn {
  padding: 5px 30px;
  background: rgb(160, 255, 165);
  border-radius: 10px;
  font-family: menlo;
  width: 50%;
  margin: auto;
}

.btn:hover {
  padding: 5px 30px;
  background: rgb(99, 242, 106);
  transition: 0.25s;
  font-family: menlo;
}
